#home{
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.leftHome{
  width: 50%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.rightHome{
  width: 50%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightHome img{
  width: 80%;
  max-width: 400px;
  height: auto;
  object-fit: contain;
}

/* text */

.homeDetails{
  font-size: 3vmax;
}

.line1{
  font-size: 0.8em;
}

.line2{
  font-size: 2em;
  background: linear-gradient(to right, rgb(66,180,205), white);
  -webkit-background-clip: text;
  color: transparent;
}

.line3{
  font-size: 1em;
}

/* button */

.homeDetails button{
  padding: 10px 30px;
  background-color: rgb(66,180,205);
  color: black;
  border: 2px solid rgb(66,180,205);
  margin-top: 30px;
  border-radius: 20px;
  font-size: 19px;
  cursor: pointer;
  transition: 0.3s;
}

.homeDetails button:hover{
  background: transparent;
  color: rgb(66,180,205);
}

/* mobile */

@media (max-width:750px){

  #home{
    flex-direction: column;
  }

  .rightHome{
    width: 100%;
    min-height: 45vh;
  }

  /* .rightHome img{
    width: 60%;
    max-width: 250px;
  } */

  .leftHome{
    width: 100%;
    min-height: 55vh;
    text-align: center;
  }

}